@import url(assets/reset.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat|Righteous');
@import url(fontello-3049d8ea/css/fontello.css);

body {
    font-family: 'Montserrat', sans-serif;
}

/*demonstration of specificity*/
/* p is an element selector with a specificity of 1 */
p {
    margin-bottom: 10px;
    color: black !important;
}

/* .orange is a class selector with a specificity of 10 */
.orange {
    color: orange;
}

/* p.yellow is combination of an element and class selector with a specificity of 11 */
p.yellow {
    color: yellow;
}




body > header,
aside,
section,
footer, #gallery {
    border: 1px solid red;
    max-width: 960px;
    margin: 0 auto 20px auto;
    padding: 10px;
}

body > header {
    height: 300px;
    background: url(assets/surfing2.jpg) no-repeat;
    background-size: 100% 100%;
    position: relative;
}

body > header h1 {
    color: #fff;
    font-size: 4em;
    text-shadow: 2px 2px 2px black;
    font-family: 'Righteous', cursive;
    margin:auto;
}

a {
    text-decoration: none;
}

header nav {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


header nav li {
    display: inline;
}

header nav a {
    color: #fff;
    border: 1px solid #fff;
    padding: 7px;
    width: 75px;
    display: inline-block;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+50,0a0e0a+51,0a0809+100;Black+Gloss */
    background: #aebcbf;
    /* Old browsers */
    background: -moz-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aebcbf', endColorstr='#0a0809', GradientType=0);
    /* IE6-9 */
}


header nav a:hover {
    background: green;
    transition: background 0.5s;
}

aside {
    height: 195px;
}

.flt-right {
    float: right;
}

.bordered {
    border: 1px solid black;
}

.bordered figcaption {
    background: black;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.animate {
    animation: fadeIn 2s, rotate 0.25s;
    animation-delay: 0s, 2s;
}

.clear-flt {
    clear: both;
}


.content {
    column-count: 3;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

a[href$=pdf],
a[href$=PDF] {
    background: url(assets/pdf.gif) right no-repeat;
    padding-right: 20px;
}

section li{}

.clickable{
    color:blue;
    cursor:pointer;
}

.clickable:hover{
    color:red;
}


/*
figure{
    width:75%;
}

figure img{
    width:100%;
}
*/


/*Form styles *********************/
fieldset{
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 15px;
}

legend{
    font-size: 0.85em;
    text-transform: uppercase;
    color: #777;
}

label{
    display: block;
    margin-bottom: 7px;
}

fieldset > ul > li{
    margin: 15px 0;
}

input,textarea{
    width: 50%;
    font-size: 1.2em;
    padding: 5px;
}
textarea{
    width:75%;
    height:200px;
}

input:required{
    background: url(form_demo/images/red_asterisk.png) no-repeat 98%;
}

input:required:valid{
    background: url(form_demo/images/valid.png) no-repeat 98%;
}

input:focus:invalid{
    background: url(form_demo/images/invalid.png) no-repeat 98%;
}

.horizontal-labels label{
    display: inline;
}

input[type=radio],input[type=checkbox]{
    width:auto;
}


/*Table styles ++++++++++++++++++++*/

th,td{
    padding: 8px;
}

th{
    text-align: left;
    background-color: coral;
    color: white;
}

tbody tr:nth-child(even){
    background-color: #ccc;
}

tbody td:nth-child(4):before{
    content: '£';
}

caption{
    padding: 7px 0;
    background-color: #777;
    color:white;
    font-size: 1em;
}


#getDataBtn{
    border: 3px solid #555;
    font-size: 1.2em;
    padding: 7px;
    border-radius: 5px;
    background-color: chartreuse;
    width: 125px;
    margin: 10px 0;
    color:#555;
}


#savedItems, #products{
    font-size: 0.75em;
    display: inline-block;
}

/* CSS Animations *****************/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(360deg);
    }
}


@media only screen and (max-device-width:600px) {
    .flt-right {
        float: none;
    }

    aside {
        height: auto;
    }

    .content {
        column-count: 1;
    }
}

@media print {

    nav,
    aside {
        display: none;
    }
}
