extends layout

block content
    h1= message
    a(href='/') Home
    ul
      each user in results
        li= user.name + ":"
          ul
            each thing in user.things
              li= thing
