extends layout

block content

  div(id="remotePage" style="width:400px;height:400px;")

  div(class="vidContainer")
    video(id="vid1" width="100%" controls="controls")
      source(id="vidSource")
    div(id="overlay")
