
.icon-spin5:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-down:before { content: '\e803'; } /* '' */
.icon-quote-left:before { content: '\e806'; } /* '' */
.icon-quote-right:before { content: '\e807'; } /* '' */