doctype html
html
    head
        title= "Real time web chat"
        link(rel='stylesheet' href='/stylesheets/styles.css')
        link(rel='stylesheet' href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
        script(src='http://code.jquery.com/jquery-1.10.1.min.js')
        script(src='http:////code.jquery.com/ui/1.10.3/jquery-ui.js')
        script(src='/draw.js')
        script(src='/socket.io/socket.io.js')
        
        
    body
        
        
        input(type="button" value="save" id="btn" size="15" onclick="save()" )
        br
        input(type="button" value="clear" id="clr" size="15" onclick="erase()" )
        br
        div(class="colorButton" style="background:green;" id="green" onclick="color(this)")
        div(class="colorButton" style="background:blue;" id="blue" onclick="color(this)")
        div(class="colorButton" style="background:red;" id="red" onclick="color(this)")
        div(class="colorButton" style="background:yellow;" id="yellow" onclick="color(this)")
        div(class="colorButton" style="background:orange;" id="orange" onclick="color(this)")
        div(class="colorButton" style="background:black;" id="black" onclick="color(this)")
        div(class="colorButton" style="background:white;" id="white" onclick="color(this)")
        #wrapper
            #drawcontainer
               
                canvas(id="can" width="400" height="400" style="border:1px solid;")
                
            #saveContainer
                img(id="canvasimg" width="400" height="400" style="border:1px dashed;")
            
            
            
            
           
       