<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        
        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }
        
        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>

    <div ng-app="myApp" ng-controller="myCtrl">
        <button ng-click="toggle()">Toggle</button>

        <table ng-hide="toggleVar">
            <tr ng-repeat="x in names | orderBy : 'name'">
                <td>{{ x.name }}</td>
                <td>{{ x.position }}</td>
            </tr>
        </table>
    </div>

    <script src="lib/app.js"></script>
    <script src="lib/ctrl.js"></script>
</body>

</html>